body{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    margin: 0%;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0px;
}
.navigation{
    width: 100%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.navbar{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    background-color: black;
    color: yellow;
}
.items{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    list-style: none;
    padding: 0%;
    padding-right: 5%;
}
li{
    display: block;
    text-align: left;
    padding-right: 40%;
    font-size: 18px;
}
a{
    color: inherit;
    text-decoration: inherit;
}